<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
    <display-name>lesson15</display-name>
    <description>Example of war file</description>

    <listener>
        <listener-class>
            web.listeners.AppContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>web.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>web.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statsServlet</servlet-name>
        <servlet-class>web.servlets.WebSocketStatsServlet</servlet-class>
    </servlet>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>AUTH_ADMIN</realm-name>
    </login-config>

    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statsServlet</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>